apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: gpu-scheduler-agent
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: gpu-scheduler-agent
  template:
    metadata:
      labels:
        app: gpu-scheduler-agent
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: agent
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          imagePullPolicy: {{ .Values.agent.image.pullPolicy }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
